<h1>Products</h1>

{{! CREATE form }}
<h2>
    <button type="button" id="showCreateForm" class="create-btn">Create Product</button>
    <form id="createForm" style="display:none;" method="POST" action="/products/create">
        <input type="text" name="create_product_name" id="create_product_name" placeholder="Product Name" required>
        <input type="text" name="create_product_price" id="create_product_price" placeholder="Product Price" required>
        <input type="number" name="create_product_stock" id="create_product_stock" placeholder="Product Stock" required>
        <select name="create_category" id="create_category" required>
            <option value="" disabled selected>Select Category</option>
            {{#each categories}}
            <option value="{{this.categoryID}}">{{this.categoryName}}</option>
            {{/each}}
        </select>

        <button type="submit">Submit</button>
    </form>
</h2>



{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each products.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, price, stock, and category }}
        {{#each products}}
        <tr>
            <td>{{this.ID}}</td>
            <td>{{this.Name}}</td>
            <td>${{this.Price}}</td>
            <td>{{this.Stock}}</td>
            <td>{{this.Category}}</td>

            {{! DELETE form }}
            <form id='delete_person_form'>
                <input type='hidden' name='delete_person_id' value='{{this.ID}}' />
                <td>
                    <button type="button" class="delete-btn">X</button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! UPDATE form }}
<h2>
    <button type="button" id="showUpdateForm" class="update-btn">Update a Product</button>
    <form id='updateForm' style="display:none;">
        <select name='update_product_id' id='update_product_id' required>
            <option value='' disabled selected>Select a Product</option>
            {{#each products}}
            <option value='{{this.ID}}' required>
                {{this.ID}} - {{this.Name}}
            </option>
            {{/each}}
        </select>

        <input type="text" name="update_product_price" placeholder="Product Price" required>
        <input type="number" name="update_product_stock" placeholder="Product Stock" required>


        <input type='submit' />
    </form>
</h2>

<script>
    var isCreateShown = false;
    var isUpdateShown = false;
    document.getElementById('showCreateForm').onclick = function() {
        if (!isCreateShown) {
            document.getElementById('createForm').style.display = 'block';
            isCreateShown = true;
        } else {
            document.getElementById('createForm').style.display = 'none';
            isCreateShown = false;
        }
    };
    // Hide the form after submission
    document.getElementById('createForm').onsubmit = function() {
        this.style.display = 'none';
    };

    document.getElementById('showUpdateForm').onclick = function() {
        if (!isUpdateShown) {
            document.getElementById('updateForm').style.display = 'block';
            isUpdateShown = true;
        } else {
            document.getElementById('updateForm').style.display = 'none';
            isUpdateShown = false;
        }
    };
    // Hide the form after submission
    document.getElementById('updateForm').onsubmit = function() {
        this.style.display = 'none';
    };
</script>

</form>
