<h2>Product Suppliers</h2>

{{! CREATE form }}
<h2>
    <button type="button" id="showCreateForm" class="create-btn">Create Product-Supplier Relationship</button>
    <form id="createForm" style="display:none;" method="POST" action="/productssuppliers/create">
        <select name='create_product_id' id='create_product_id' required>
            <option value='' disabled selected>Select a Product</option>
            {{#each products}}
            <option value='{{this.productID}}' required>
                {{this.productID}} - {{this.productName}}
            </option>
            {{/each}}
        </select>
        <select name='create_supplier_id' id='create_supplier_id' required>
            <option value='' disabled selected>Select a Supplier</option>
            {{#each suppliers}}
            <option value='{{this.supplierID}}' required>
                {{this.supplierID}} - {{this.supplierName}} 
            </option>
            {{/each}}
        </select>

        <button type="submit">Submit</button>
    </form>
</h2>

{{! READ table }}
<table>
    <thead>
        {{! printing DB attributes for the header }}
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Supplier Name</th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the proSupID, productID, supplierID }}
        {{#each productSuppliers}}
        <tr>
            <td>{{this.proSupID}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.supplierName}}</td>
            
            {{! DELETE form }}
            <form id='delete_person_form' method='POST' action='/productssuppliers/delete'>
                <input type='hidden' name='delete_prosup_id' value='{{this.proSupID}}' />
                <td>
                    <button type="submit" class="delete-btn">X</button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>
    <button type="button" id="showUpdateForm" class="update-btn">Update a Product-Supplier Relationship</button>
    <form id='updateForm' style="display:none;" method="POST" action='/productssuppliers/update'>
        <select name='update_prosup_id' id='update_prosup_id' required>
            <option value='update_prosup_id' disabled selected>Select an ID</option>
            {{#each productSuppliers}}
            <option value='{{this.proSupID}}' required>
                {{this.proSupID}}
            </option>
            {{/each}}
        </select>
        <select name='update_product_id' id='update_product_id' required>
            <option value='' disabled selected>Select a Product</option>
            {{#each products}}
            <option value='{{this.productID}}' required>
                {{this.productID}} - {{this.productName}}
            </option>
            {{/each}}
        </select>
        <select name='update_supplier_id' id='update_supplier_id' required>
            <option value='' disabled selected>Select a Supplier</option>
            {{#each suppliers}}
            <option value='{{this.supplierID}}' required>
                {{this.supplierID}} - {{this.supplierName}} 
            </option>
            {{/each}}
        </select>

        <input type='submit' />
    </form>
</h2>

<script>
    var isCreateShown = false;
    var isUpdateShown = false;
    document.getElementById('showCreateForm').onclick = function() {
        if (!isCreateShown) {
            document.getElementById('createForm').style.display = 'block';
            isCreateShown = true;
        } else {
            document.getElementById('createForm').style.display = 'none';
            isCreateShown = false;
        }
    };
    // Hide the form after submission
    document.getElementById('createForm').onsubmit = function() {
        this.style.display = 'none';
    };

    document.getElementById('showUpdateForm').onclick = function() {
        if (!isUpdateShown) {
            document.getElementById('updateForm').style.display = 'block';
            isUpdateShown = true;
        } else {
            document.getElementById('updateForm').style.display = 'none';
            isUpdateShown = false;
        }
    };
    // Hide the form after submission
    document.getElementById('updateForm').onsubmit = function() {
        this.style.display = 'none';
    };
</script>

