{{!-- 
Citations:
Code based off starter code provided by CS340.
--}}

<h2>Product Restock Details</h2>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Details ID</th>
            <th>Order ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Single Price</th>
            <th>Total Price</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, detailsID, orderID, product name, single price, and total price }}
        {{#each details}}
        <tr>
            <td>{{this.detailsID}}</td>
            <td>{{this.orderID}}</td>
            <td>{{this.Product}}</td>
            <td>{{this.quantityOrdered}}</td>
            <td>${{this.singlePrice}}</td>
            <td>${{this.totalPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>