{{!-- 
Citations:
Code based off starter code provided by CS340.
--}}

<h2>Restock Orders</h2>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            <th>Order ID</th>
            <th>Order Date</th>
            <th>Total Cost</th>
            <th>Delivered</th>
            <th>Supplier</th>
            <th>Employee</th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the orderID, orderDate, totalCost, isDelivered, Supplier, and Employee }}
        {{#each restockOrders}}
        <tr>
            <td>{{this.orderID}}</td>
            <td>{{this.orderDate}}</td>
            <td>${{this.totalCost}}</td>
            <td>{{this.isDelivered}}</td>
            <td>{{this.Supplier}}</td>
            <td>{{this.Employee}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>