<h2>Suppliers</h2>

{{! READ table }}
<table>
    <thead>
        {{! printing the DB attributes for header }}
        <tr>
            <th>ID</th>
            <th>Supplier Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Country</th>

        </tr>
    </thead>

    <tbody>
        {{! For each row, print the supplierid, suppliername, phone, email, address, state, zip, country, city in that order }}
        {{#each suppliers}}
        <tr>
            <td>{{this.supplierID}}</td>
            <td>{{this.supplierName}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.zip}}</td>
            <td>{{this.country}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>